@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}
@theme{
    --color-primary:#003dfc;
    --color-secondaryy:#fbbf24;
    --color-heading:#152c5b;
    --color-paragraph:#b0b0b0;
}